

body{
    margin: 0;
    padding: 0;
    
    height: 100vh;
    width: 100%;
    color: black;
    
    
}

canvas{
    
    position: absolute;
    top: 80;
    bottom: 0;
    left: 80;
    right: 0;

    
    
    
    
}

.canv{
    float: left;
    padding-left: 80;
    padding-top: 80;
    width: 540;
}

.btns{
    
    padding-top: 80;
    float: right;
    margin-right: 10%;
   
    
  
}
video{
    top: 10%;
    bottom: 0;
    left: 10%;
    right:0;

    
}

.btn{
    
    width: 30%;
   
}

h1{
    text-align: center;
    font-family: cursive;
    font-size: 30;
}

h2{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
/*
animations to the text in h1
*/

.ml12 {
  
  font-weight: 10000;
  
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}



@media all and (max-width: 2000px){
  video{
    width: 540;
    height: 420;
  }
  canvas{
      width: 540;
      height: 420;
      
  }
}
@media all and (max-width: 77.8mm){
  .des{
    display: none;
  }
  .btns{

    float: left;
  }
    video{
        width: 54mm;
        height: 42mm;
    }
    canvas{
        width: 54mm;
        height: 42mm;
        
    }

    .details{
      display: none;
    }

    
}
@media all and (max-width: 1050px){
  .des{
    width: 100%;
  }
  .btns{
    float: left;
  }
    video{
        width: 360;
        height: 280;
    }
    canvas{
        width: 360;
        height: 280;
        
    }

    .details{
      display: none;
    }

    
}

@media all and (max-width: 2000px){
  .btns{
    width: 10%;
    margin-right: 35%;
    
  }

  .des{
    width: 35%;
  }

  .table{
    width: 10%;
  }
      
  }

.des{
    float: left;
    position: absolute;
    padding-left: 40;
    padding-top: 20;
    padding-right: 60;
    
    
    
}

.left{
    float: left;
}

p{
    font-size: 20;
    letter-spacing: 1;
    word-spacing: 8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
    color:#25412b;
    font-weight: 500;
}

.small{
    padding-top: 20;
    font-size: 18;
    font-weight: 700;
    color: #133980;
}

.details{
  width: 100%;
  margin-top: 50;
  padding-top: 30;
  padding-left: 20;
  padding-right: 20;
  padding-bottom: 100;
  font-size: 15;
  background-image: url('/img/Midnight\ City.jpg');
  
    
}

.details p{
  color: rgb(229, 245, 138);
}

.details h1{
  color: rgb(190, 126, 126);
}

.details a{
  color: rgb(190, 126, 126);
}

.text-danger{
    color: #bb0b0b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
}

.bottom-right{
  padding-top: 50;
}

.face-rec{
  margin-top: 80;
  padding-left: 20;
  padding-top: 20;
  padding-right: 20;
  background-image: url('/img/Moss.jpg');
}

.face-rec h1{
  color: white;
}

.face-rec h2{
  padding-top: 20;
  padding-bottom: 20;
  font-size: 15;
  color: white;
}
.face-rec img{
  width: 500;
}
.face-rec p{
  color: rgb(64, 219, 219);
}

.face-rec a{
  color: rgb(229, 245, 138);
}
.tools{
  
}

.des-wo{
  padding-left: 10;
  padding-right: 10;
  padding-top: 20;
  background-image: url('/img/Bloody\ Mary.jpg');
  padding-bottom: 20;
}

.des-wo p{
  color: white;
}
/* 
for animate buttons
*/
.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  


/*
add styles for the social media items
*/

/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: flex;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  color: #fff;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}
.social-icon--twitter {
  background: #2b97f1;
  color: #fff;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--codepen {
  background: #000;
  color: #fff;
}
.social-icon--codepen .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}
.social-icon--facebook {
  background: #3b5a9b;
  color: #fff;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  color: currentColor;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}
.social-icon--instagram {
  background: #bb0b0b;
  color: #fff;
}
.social-icon--instagram .tooltip {
  background: #bb0b0b;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #bb0b0b;
}
.social-icon--dribbble {
  background: #ef5a92;
  color: #fff;
}
.social-icon--dribbble .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--dribbble .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #4284c0;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #4284c0;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}
/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}
